# Payload
# generate: openssl rand -hex 32
PAYLOAD_SECRET=

# Dev-Database / Postgres
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb

# has to match the user, password and db name defined above
DATABASE_URL_DEV="postgresql://myuser:mypassword@localhost:5432/mydb"

# Prod-Database / Postgres
DATABASE_URL_PROD=postgresql://postgres:[DB-PASSWORD]@db.tvjclyaykpgfxjfjlvgq.supabase.co:5432/postgres

# Image Server (R2 Cloudflare)
S3_BUCKET=know-before-you-go
S3_ACCESS_KEY_ID=<cloudflare_access_key_id>
S3_SECRET_ACCESS_KEY=<cloudflare_secret_access_key>
S3_REGION=auto

S3_ENDPOINT_DEV=https://[PASSWORD].r2.cloudflarestorage.com/know-before-you-go-dev
S3_ENDPOINT_PROD=https://[PASSWORD].r2.cloudflarestorage.com/know-before-you-go
