services:
  db:
    image: postgres:16-alpine
    container_name: know-before-you-go-postgres-dev
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_know_before_you_go:/var/lib/postgresql/data

volumes:
  postgres_data_know_before_you_go:
