@import "tailwindcss";

@layer components {
  .country-card {
    --container-height: calc(24 * 1rem);
  }

  @media (width >= 48rem /* 768px */) {
    .country-card {
      --container-height: calc(18 * 1rem);
    }
  }

  .country-card .image-wrapper {
    height: var(--container-height);
  }

  .country-card:hover .image-wrapper,
  .country-card:focus-within .image-wrapper {
    height: calc(var(--container-height) - var(--content-height));
  }

  .country-card .progressive-blur {
    --blur-opacity: 1;
  }

  .country-card:hover .progressive-blur,
  .country-card:focus-within .progressive-blur {
    --blur-opacity: 0;
  }

  .country-card .image-blur-element {
    --mask-gradient: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2) 10%,
      rgba(0, 0, 0, 0.5) 25%,
      rgba(0, 0, 0, 0.75) 90%,
      rgba(0, 0, 0, 1) 95%
    );

    -webkit-mask-image: var(--mask-gradient);
    mask-image: var(--mask-gradient);
  }
}
