@import "tailwindcss";

@layer components {
  .country-card {
    --container-height: calc(24 * 1rem);
  }

  @media (width >= 48rem /* 768px */) {
    .country-card {
      --container-height: calc(18 * 1rem);
    }
  }

  .country-card .image-wrapper {
    height: var(--container-height);
  }

  .country-card:hover .image-wrapper,
  .country-card:focus-within .image-wrapper {
    height: calc(var(--container-height) - var(--content-height));
  }

  .country-card .progressive-blur {
    --blur-opacity: 1;
  }

  .country-card:hover .progressive-blur,
  .country-card:focus-within .progressive-blur {
    --blur-opacity: 0;
  }
}
