@import "tailwindcss";

@layer components {
  .country-card {
    --container-height: calc(24 * 1rem);
  }

  @media (width >= 48rem /* 768px */) {
    .country-card {
      --container-height: calc(18 * 1rem);
    }
  }
}
